<!DOCTYPE html>
<html>
    <head>
        <title>CSD Laboratory</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}' />
    </head>
    <body>
        <h3>CSD Laboratory</h3>
        <p>CSD Lab is a project aimed to offer a platform for experimenting 
            with CSD and JaxCSD. We recommend to incorporate your csd functionality here
            before implementing it in your applications. CSD Lab is a hub which provides
            a leeway to test and experiment with a number of technologies and platforms
            as you are developing your use case functionality.
        </p>
        
    </body>
</html>
