<!DOCTYPE html>
<html>
    <head>
        <title>CSD Laboratory</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1"  />

        <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}' />

        <!-- Custom styles for this template -->
        <link th:href="@{/csdlab/css/csdlab.css}" rel="stylesheet" />
    </head>
    <body>

        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CSD Lab for Zimbabwe</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/about}">About</a></li>
                        <li><a th:href="@{/contact}">Contact</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->


        <div class="container">

            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-12 col-sm-12">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>
                    <div class="jumbotron">
                        <h1>CSD Laboratory for Zimbabwe</h1>
                        <p>
                            CSD Lab offers a conducive platform for implementing and testing a number of CSD use cases
                            prior to exporting successful functionality to live systems or production
                            environments. The environment offered here does not only consolidate all use cases in one platform
                            but avoid destabilization of live systems as Integration Platform uses cases will be introduced and
                            implemented.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-lg-4">
                            <h2>ZHRIS Integration</h2>
                            <p>The ZHRIS Integration platform is based on the Care Service Discovery Standard that ensures a full picture of Health Provider, Health Organizations, Health Facilities and services offered.</p>
                            <p><a class="btn btn-default" th:href="@{/zhris}" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Public Website</h2>
                            <p>Coming Soon...</p>
                            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>HWO</h2>
                            <p>Health World Organisation is an international body concerned in monitoring public health across the globe. Integration through the ZHRIS facilitates seemless communication and reporting through specific Indicators.</p>
                            <p><a class="btn btn-default" th:href="@{/hwo}" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>TrainSmart Integration</h2>
                            <p>TrainSmart allows users to accurately track data about training programs, trainers, and trainees, to better evaluate programs and report activities to stakeholders. Integration facilitates complete accurate provider data from the ZHRIS and detailed training data can be supplied to ZHRIS system.
                                Thus better monitor health care worker training, credentials, competencies, and deployment patterns.</p>
                            <p><a class="btn btn-default" th:href="@{/trainsmart}" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>DHIS Integration</h2>
                            <p>DHIS and CSD integration is required to enable seamless communication between the two systems. DHIS may require data about human resources capacity in Zimbabwe</p>
                            <p><a class="btn btn-default" th:href="@{/dhis}" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                        <div class="col-xs-6 col-lg-4">
                            <h2>Third Part Integration</h2>
                            <p>Third Party Systems or Service Finder Systems that integrates with the Care Service Information Manager for provider details.</p>
                            <p><a class="btn btn-default" th:href="@{/thirdparty}" role="button">View details &raquo;</a></p>
                        </div><!--/.col-xs-6.col-lg-4-->
                    </div><!--/row-->
                </div><!--/.col-xs-12.col-sm-9-->


            </div><!--/row-->

            <hr />

            <footer>
                <p>&copy; Company 2014</p>
            </footer>

        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    </body>
</html>
